<section class="comic-section">
  <h2 class="comic-section__title">{{ .Title }}</h2>

  <article class="comic-section__content">

    <!-- Previous Comic Button -->
    {{ if .PrevInSection }}
    <a class="comic-section__prev" href="{{ .PrevInSection.Permalink }}">
      <i class="fa fa-chevron-left" aria-hidden="false"></i>
    </a>
    {{ end }}

    <!-- Current Comic -->
    <figure class="comic-section__comic">
      <!-- Comic Image -->
      <img class="comic-section__image" src="{{ .Params.image }}" alt="{{ .Title }}">

      <!-- Comic Caption ( if set ) -->
      {{ with .Params.caption }}
      <figcaption class="comic-section__caption">
        {{ . }}
      </figcaption>
      {{ end }}
    </figure>

    <!-- Next Comic Button -->
    {{ if .NextInSection }}
    <a class="comic-section__next" href="{{ .NextInSection.Permalink }}">
      <i class="fa fa-chevron-right" aria-hidden="false"></i>
    </a>
    {{ end }}

  </article>

  <!-- Includes Social Media Links -->
  <footer class="comic-section__social-sharing">
    {{ partial "social-sharing.html" . }}
  </footer>
</section>
