<!-- For IE 10 and below -->
<!-- No link, just place a file called favicon.ico in the root directory -->

<!-- For IE 11, Chrome, Firefox, Safari, Opera -->
{{ with .Site.Params.favicon }}
<link rel="icon" href="{{ . }}-16.png" sizes="16x16" type="image/png">
<link rel="icon" href="{{ . }}-32.png" sizes="32x32" type="image/png">
<link rel="icon" href="{{ . }}-48.png" sizes="48x48" type="image/png">
<link rel="icon" href="{{ . }}-62.png" sizes="62x62" type="image/png">
<link rel="icon" href="{{ . }}-192.png" sizes="192x192" type="image/png">
{{ end }}
