<a class="social-link" title="Share on Facebook" id="facebook-share" href="https://www.facebook.com/sharer/sharer.php">
  <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
</a>
<a class="social-link" title="Share on Twitter" id="twitter-share" href="http://twitter.com/share" onclick="document.getElementById('twitter-share').href = 'http://twitter.com/share?text=' + document.title +  '&url=' + encodeURIComponent(window.location);" >
  <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
</a>
<a class="social-link" title="Share on Reddit" id="reddit-share" href="http://www.reddit.com/submit" onclick="document.getElementById('reddit-share').href = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location);">
  <i class="fa fa-reddit-alien" aria-hidden="true"></i> Reddit
</a>
<a class="social-link" title="Share the Permalink" href="{{ .Permalink }}" id="permalink">
  <i class="fa fa-link" aria-hidden="true"></i> Permalink
</a>
