<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  {{ partial "meta.html" . }}
  {{ partial "open-graph.html" . }}
  {{ partial "twitter-meta.html" . }}
  {{ partial "schema.html" . }}
  {{ partial "favicon.html" . }}
  {{ partial "styles.html" . }}
</head>
<body>

  <div class="wrapper">

    {{ partial "header.html" . }}

    {{ partial "nav.html" . }}

    <main class="main">
      <section class="archive">
        <ul class="archive-list">
        {{ range where .Site.Pages "Section" "comic" }}
        {{ .Render "archive-thumbnail" }}
        {{ end }}
        </ul>
      </section>
      <section class="pagination">

      </section>
    </main>

    {{ partial "footer.html" . }}

  </div>

  {{ partial "scripts.html" . }}
</body>
</html>
